@import "tailwindcss";

@layer base {
  body {
    font-family: 'Poppins', sans-serif;
  }
}

@keyframes slideDown {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-slideDown {
  animation: slideDown 0.5s ease-in-out forwards;
  box-shadow: 0 4px 6px -1px rgba(0,0,0,0.1);
}

@keyframes slideInLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInTop {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideInBottom {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-slide-in-left {
  animation: slideInLeft 0.8s ease-out forwards;
}
.animate-slide-in-right {
  animation: slideInRight 0.8s ease-out forwards;
}
.animate-slide-in-top {
  animation: slideInTop 0.8s ease-out forwards;
}
.animate-slide-in-bottom {
  animation: slideInBottom 0.8s ease-out forwards;
}



@keyframes upDown {
        0%, 100% { transform: translateY(0); }
        50% { transform: translateY(-10px); }
      }

      .animate-up-down {
        animation: upDown 2s ease-in-out infinite;
      }