@import "tailwindcss";

@keyframes slideDown {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-slideDown {
  animation: slideDown 0.5s ease-in-out forwards;
  box-shadow: 0 4px 6px -1px rgba(0,0,0,0.1);
}


@keyframes upDown {
        0%, 100% { transform: translateY(0); }
        50% { transform: translateY(-10px); }
      }

      .animate-up-down {
        animation: upDown 2s ease-in-out infinite;
      }